html {
    height: 100%;
    max-height: 100%;
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    position: relative;
    height: 100%;
    max-height: 100%;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    letter-spacing: 0.01rem;
    background-color: #f8f8f8;
    font-size: 1.8rem;
    line-height: 1.75em;
    color: #3A4145;
}

section {
    display: block;
    padding-top: 70px;
    margin-bottom: -70px;
}

section.section-block {
    padding-top: 100px;
}

.section-block h1 {
    color: #222;
    font-size: 44px;
    line-height: 44px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 0.1em;
    margin-bottom: 17px;
    font-family: "Open Sans", sans-serif;
}

.section-block h2.sub-title {
    text-align: center;
    font-size: 30px;
    line-height: 1.1;
    color: #888;
    margin: 0 0 90px 0;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}

/* cover */
.cover {
    position: relative;
    margin-bottom: -50px;
    text-align: center;
    background-size: cover;
    overflow: hidden;
}

#main-header{
    display: table;
    width: 100%;
    height: 100%;
    background-image: url('../images/diablo.jpg');
}

#mid{
    background-image: url('../images/city_by_the_bay_1232.jpg');
}

.vertical {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    position: relative;
    width: 80%;
    max-width: 710px;
    margin: 0 auto;
}

.inner .page-title {
    margin: 10px 0 10px 0;
    font-size: 5rem;
    letter-spacing: -1px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    -webkit-animation: fade-in-down 0.6s;
    -moz-animation: fade-in-down 0.6s;
    -o-animation: fade-in-down 0.6s;
    animation: fade-in-down 0.6s;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.inner .page-description {
    margin: 0;
    font-size: 2rem;
    line-height: 1.5em;
    font-weight: 400;
    font-family: "Merriweather", serif;
    letter-spacing: 0.01rem;
    color: rgba(255, 255, 255, 0.8);
    -webkit-animation: fade-in-down 0.9s;
    -moz-animation: fade-in-down 0.9s;
    -o-animation: fade-in-down 0.9s;
    animation: fade-in-down 0.9s;
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

/* ghost button */
.inner div {
    list-style: none;
    width: 100%;
    height: 36px;
    padding: 0;
    margin: 20px auto 10px auto;
    line-height: 140%;
    text-align: center;
}

.inner div label.button {
    border: 2px solid rgba(255, 255, 255, 0.80);
    /*background-color: rgba(255, 255, 255, 0.4);*/
    position: relative;
    width: 45%;
    min-width: 260px;
    height: 36px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 0;
    z-index: 999;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.button:hover {
    border: 2px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    /*background-color: rgba(255, 255, 255, 0.8);*/
}

.button .line {
    display: block;
    z-index: 99999;
    position: absolute;
    background: none;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.button:hover .line {
    background-color: rgba(255, 255, 255, 1);
}

.button .line-top {
    height: 2px;
    width: 0;
    left: -110%;
    top: -2px;
}

.button:hover .line-top {
    width: 100%;
    left: -2px;
}

.button .line-bottom {
    width: 0;
    height: 2px;
    right: -110%;
    bottom: -2px;
}

.button:hover .line-bottom {
    width: 100%;
    right: -2px;
}

.button .line-left {
    width: 2px;
    height: 0;
    left: -2px;
    bottom: -110%
}

.button:hover .line-left {
    height: 100%;
    bottom: -2px;
}

.button .line-right {
    width: 2px;
    height: 0;
    right: -2px;
    top: -110%
}

.button:hover .line-right {
    height: 100%;
    top: -2px;
}

/* Create a bouncing scroll-down arrow on homepage with cover image */
.scroll-down {
    display: block;
    position: absolute;
    z-index: 100;
    bottom: 45px;
    left: 50%;
    margin-left: -16px;
    width: 34px;
    height: 34px;
    font-size: 34px;
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    -webkit-animation: bounce 4s 2s infinite;
    -moz-animation: bounce 4s 2s infinite;
    -o-animation: bounce 4s 2s infinite;
    animation: bounce 4s 2s infinite;
}

/* Stop it bouncing and increase contrast when hovered */
.scroll-down:hover {
    color: #fff;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
}

/* navigation bar */
#navbar-example {
    display: none;
}

.nav a {
    cursor: pointer;
    height: 70px;
    text-align: center;
}

.nav .navbar-header a {
    width: 180px;
    background: url("../images/logo.png") no-repeat center center;
    background-size: 150px auto;
}

.nav li {
    height: 70px;
    text-align: center;
}
.nav li i {
    width: 100%;
    display: inline-block;
}

.navbar-brilent {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

@-webkit-keyframes bounce {
    0%, 10%, 25%, 40%, 50% {
        -webkit-transform: translateY(0);
    }
    20% {
        -webkit-transform: translateY(-10px);
    }
    30% {
        -webkit-transform: translateY(-5px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

@-webkit-keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}